<template>
  <div class="home">
    <h1>{{ title }}</h1>
    <h2>PHP Developer and Artisan in Laravel</h2>

    <h3 id="about-me">About Me</h3>

    <span
      class="profile-img"
      style="
        background-image: url(https://www.gravatar.com/avatar/9c822eac3f4b67e56e22f42dcc291182?s=80&d=mm&r=x);
      "
    ></span>

    <p>
      Hi, my name is Renato... I'm a former IT technician working on web
      systems, Linux and Windows systems.
    </p>
    <p>Working with Systems Development(since 2012) focused(since 2017).</p>
    <p>
      I am most skilled in: <mark>Laravel</mark>, <mark>Linux</mark>,
      <mark>Docker</mark> and <mark>AWS</mark>
    </p>
    <p>
      You can check my full skills list in my
      <a href="https://www.linkedin.com/in/renato-de-oliveira-lucena-33777133/"
        >Linkedin</a
      >
      profile.
    </p>

    <div class="row">
      <div
        class="col-md-4 col-lg4"
        v-for="(data, index) in products"
        :key="index"
      >
        <img :src="data.image" class="img-fluid" />
        <h3 @click="goTodetail(data.productId)">{{ data.productTitle }}</h3>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "home",
  data() {
    return {
      title: "Renato de Oliveira Lucena",
      products: [
        /*{
        productTitle:"ABCN",
        image       : require('../assets/images/product1.png'),
        productId:1
      },
      {
        productTitle:"KARMA",
        image       : require('../assets/images/product2.png'),
        productId:2
      },
      {
        productTitle:"Tino",
        image       : require('../assets/images/product3.png'),
        productId:3
      },
      {
        productTitle:"EFG",
        image       : require('../assets/images/product4.png'),
        productId:4
      },
      {
        productTitle:"MLI",
        image       : require('../assets/images/product5.png'),
        productId:5
      },
      {
        productTitle:"Banans",
        image       : require('../assets/images/product6.png'),
        productId:6
      }*/
      ],
    };
  },
  methods: {
    goTodetail(prodId) {
      let proId = prodId;
      this.$router.push({ name: "details", params: { Pid: proId } });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.row img {
  max-height: 15em;
  width: 100%;
}
.row h3 {
  cursor: pointer;
}
</style>
